/* * {
    background-color: cyan;
} */

body {
    background-color: #f1faee;
}

button {
    font-size: 22px;
    background-color: #a8dadc;
}

h1,
h2 {
    color: #1d3557;
}

span {
    color: #1d3557;
}

/* used # selector to target an id attribute */
#signup {
    background-color: #1d3557;
    color: #f1faee;
}


/* used  . selector to target a class */
.tag {
    background-color: #e63946;
    color: #f1faee;
    font-size: 16px;
}

/* use a 'space' selector to target a descendant */
.post a {
    color: #219ebc;
}

footer a {
    color: #e63946;
}